<h1>
    <h2 class="has-text-centered is-size-2">

    </h2>
    <div>
        <div class="column" id="blogs">
            <span class="nameDate"> Posted By:
                {{post.user.first_name}} {{post.user.last_name}} {{post.created_at}}</span>
            <h1 id="blog-title"><strong>{{post.title}}</strong></h1>
            <p>{{post.description}}</p>
            <button class="button is-success"><a href='/updatePost/{{post.id}}'>Update this Blog</a></button>
        </div>
    </div>
</h1>

<script src="/JS/script.js"></script>